<div data-hidden-post-id="{{ post.Id }}" class="bloc-message-forum hidden-post">
    <div class="conteneur-message">
        <div class="bloc-avatar-msg">
            <div class="back-img-msg">
                <div>
                    <a href="https://www.jeuxvideo.com/profil/cisla?mode=infos" target="_blank" class="xXx ">
                        <img src="https://risibank.fr/cache/stickers/d209/20968-full.png" class="user-avatar-msg"
                            alt="cisla">
                    </a>
                </div>
            </div>
        </div>

        <div class="inner-head-content">
            <div class="bloc-header">
                {{#if post.User}}
                    {{#if post.User.IsAdmin}}
                    <a href="https://www.jeuxvideo.com/profil/cisla?mode=infos" target="_blank"
                        class="xXx bloc-pseudo-msg text-user" style="color: red">
                        {{ post.User.Name }}
                    </a>
                    {{else if topic.Author.IsModerator}}
                    <a href="https://www.jeuxvideo.com/profil/cisla?mode=infos" target="_blank"
                        class="xXx bloc-pseudo-msg text-user" style="color: green">
                        {{ post.User.Name }}
                    </a>
                    {{else}}
                    <a href="https://www.jeuxvideo.com/profil/cisla?mode=infos" target="_blank"
                        class="xXx bloc-pseudo-msg text-user" style="color: #20bbdf">
                        {{ post.User.Name }}
                    </a>
                    {{/if}}
                {{/if}}

                <div class="bloc-options-msg">
                    <span class="picto-msg-quote" title="Citer" data-quote="{{ post.Id }}">
                        <span> Citer </span>
                    </span>
                    
                    {{#if ([../helpers/isFromConnectedUser] connectedUser post.User) }}
                        <span class="picto-msg-crayon" title="Editer" data-post-edit="{{ post.Id }}">
                            <span> Editer </span>
                        </span>
                    {{/if}}

                    {{#if ([../helpers/isFromConnectedUser] connectedUser post.User) }}
                        <span class="picto-msg-croix" title="Supprimer" data-post-delete="{{ post.Id }}">
                            <span> Supprimer </span>
                        </span>
                    {{/if}}
                </div>

                <div class="bloc-date-msg">
                    <a href="/cisla/forums/message/1036520623" target="_blank" class="xXx lien-jv">
                        {{ [../helpers/postDate] post.CreationDate }}
                    </a>
                </div>
            </div>

            <div class="bloc-contenu">
                <div class="txt-msg  text-enrichi-forum" data-post-display="{{ post.Id }}">
                    {{{ [../helpers/jvcode] post.Content }}}
                </div>

                {{#if post.ModificationDate}}
                    <div class="info-edition-msg">
                        Message édité le {{ [../helpers/postDate] post.ModificationDate }}
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</div>