<li class="hidden-topic-row">
    <span class="topic-subject">
        {{#if Topic.Pinned}}
            {{#if Topic.Locked}}
                <img src="/img/forums/topic-marque-off.png" alt="Topic fermé" title="Topic fermé" class="topic-img">
            {{else}}
                <img src="/img/forums/topic-marque-on.png" alt="Topic épinglé" title="Topic épinglé" class="topic-img">
            {{/if}}            
        {{else}}
            {{#if Topic.Locked}}
                <img src="/img/forums/topic-lock.png" alt="Topic fermé" title="Topic fermé" class="topic-img">
            {{else}}
                {{#if ([../helpers/hotTopic] PostsCount)}}
                    <img src="/img/forums/topic-dossier2.png" alt="Topic hot" title="Topic hot" class="topic-img">        
                {{else}}
                    <img src="/img/forums/topic-dossier1.png" alt="Topic" title="Topic" class="topic-img">
                {{/if}}
            {{/if}}
        {{/if}}

        <a class="lien-jv topic-title"
            href="{{ Url }}"
            title="{{ Topic.Title }}">
            {{ Topic.Title }}
        </a>
    </span>

    {{#if Author}}
    <a class="xXx text-user topic-author" style="color: #20bbdf">
        {{ Author.Name }}
    </a>
    {{else}}
    <a class="xXx text-user topic-author">
        {{ Topic.Username }}
    </a>
    {{/if}}

    <span class="topic-count">
        {{ PostsCount }}
    </span>

    <span class="topic-date">
        <a href="{{ lastPageUrl }}" class="xXx lien-jv">
            {{ [../helpers/topicDate] LastPostDate }}
        </a>
    </span>

    <span class="topic-select"> </span>
</li>